@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+BE+VLG:wght@100..400&display=swap');
:root{
  --background: #fefefe;
  --linkColor:#646cff;
  --color:#121212;
  --greenSpecial: #7bed9f;
  --purple: #902bf5;
}

  .title{
    font-family: "Playwrite BE VLG", cursive;
    color: #902bf5;
    text-shadow: 2px 2px #7bed9f;
    flex: 3;
  }

  h3{
    font-size: 3.5rem;
    
  }
  h4{
    font-size: 3rem;
  }
  h5{
    font-size: 3.5rem;
  }
  p{
    font-size: 2rem;
    line-height: 1.8;
    font-family: "Oswald", sans-serif;
  }

  label{
    font-family: "Oswald", sans-serif;
  }
  html{
    background-color: var(--background);
  }
  input, textarea{
    background-color: var(--background);
    color: var(--color);
  }
  

  a{
    font-size: 2rem;
  }
  li{
    list-style: none;
}
label{
  font-size: 2rem;
}
input{
  font-size: 2rem;
}


.navigationPortfolio{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color);
}


.itemList {
    display: inline-block;
    position: relative;
    color: #fefefe;
    list-style: none;
    font-size: 1.5rem;
    margin-left: 3rem;
    padding: 5px;
    transition: color 0.3s;
}

.itemList::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 40%;
    width: 0;
    height: 2px;
    background-color: var(--greenSpecial); /* Line color */
    transition: width 0.6s;
}

.selected{
    text-decoration: var(--greenSpecial) line-through;
}

.itemList:hover {
    color: #902bf5;
}

.itemList:hover::after {
    width: 100%;
}

.list{
    display: flex;
    flex-direction: row;
    font-family: "Oswald", sans-serif;
}

.portfolioFooter{
    width: 100%;
    background-color: var(--color);
    color: var(--background);
    text-align: center;
    font-family: "Oswald", sans-serif;
}



.home{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #fefefe;
}

.button{
  width: 25rem;
  height: 6rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out ;
}


.button:hover{
  cursor: pointer;
  border: solid 1px 1px var(--purple);
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}
@media only screen and (max-width: 600px) {
  .home{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #fefefe;
  }

  .button{
    width: 25rem;
    height: 6rem;
    font-size: 1.8rem;
  }
  .cannot-overflow{
    overflow: hidden;
  }
}